.body{
    margin: 0;
}

.fst-head{
    width: 70%;
font-size: 80px;
font-family: 'Yanone Kaffeesatz', sans-serif;
border-left: 7px solid;
border-image: linear-gradient(blue, cyan);
border-image-slice: 1;
padding-left: 20px;
}

.color-head{
    color: cyan
}
.scnd-head{
    font-family: 'Satisfy', cursive;
    color: rgb(190, 47, 47);
    font-size: 50px;
    text-align: center;
}
p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(blue, cyan);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 700px;
    font-family: 'Cairo', sans-serif;
}
.fst-sec{
    display: flex;
}
.scnd-div{
    display: flex;
}

.half-size{
    width: 50%;
    padding-left: 7%;
}
.trio-item{
    width: 30%;
    padding-left: 5%;
    text-align: center;
}
.half-size img{
    width: 70%;
}
.year{
    color: rgb(255, 187, 0);
}
.trio-head{
    font-size: 40px;
    font-family: 'Righteous', cursive;
    
}
.gray{
    color: rgb(70, 66, 66);
}