.body{
    margin: 0;
}

.fst-head{
    width: 70%;
font-size: 80px;
font-family: 'Yanone Kaffeesatz', sans-serif;
border-left: 7px solid;
border-image: linear-gradient(blue, cyan);
border-image-slice: 1;
padding-left: 20px;
}
.scnd-head{
    font-family: 'Satisfy', cursive;
    color: rgb(190, 47, 47);
    font-size: 50px;
    text-align: center;
}

.color-head{
    color: cyan
}
.thrd-head{
    font-size: 50px;
    color: blue;
    text-align: left;
    font-family: 'Abril Fatface', cursive;
}
.thrd-headtwo{
    font-size: 50px;
    color: cyan;
    text-align: left;
    font-family: 'Abril Fatface', cursive;
}
.frth-head{
    font-size: 50px;
    color: cyan;
    text-align: left;
    margin-bottom: 0;
    font-family: 'Play', sans-serif;
}
.frth-headtwo{
    font-size: 50px;
    color: blue;
    text-align: left;
    margin-bottom: 0;
    font-family: 'Play', sans-serif;
}
.ffth-head{
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    color: orangered;
    border-left: 2px solid;
    border-image: linear-gradient(orangered, rgb(255, 187, 0));
    border-image-slice: 1;  
}
.sxth-head{
    font-size: 50px;
    font-family: 'Share Tech Mono', monospace;
}
p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(blue, cyan);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 700px;
    font-family: 'Cairo', sans-serif;
}
.fst-sec{
    display: flex;
}

.thrd-sec{
    display: flex;
}
.frth-sec{
    display: flex;
}
.ffth-sec{
    display: flex;
}
.sxth-sec{
    text-align: center;
    background-color: gray;
    margin-left: 1%;
    margin-right: 1%;
   
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.scnd-div{
    display: flex;
}

.half-size{
    width: 50%;
    padding-left: 7%;
}
.half-size img{
    width: 70%;
}
.half-sizetwo{
    width: 35%;
    padding-left: 7%;
}
.half-sizetwo img{
    width:100% ;
    margin-top: 35%;
}
.half-sizetwond{
    width:65% ;
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 8%;

}
.half-sizetre{
    width: 50%;
    margin-left: 10%;
    margin-right: 4%;
    margin-top: 10%;
}
.half-sizetrend{
    width: 50%;
    margin-top: 10%;
}
.half-sizetrend img{
    width: 60%;
}
.halfsize-frth{
    margin-top: 10%;
    width: 35%;
    padding-left: 7%;
    
}
.halfsize-frthnd{
    width:65% ;
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 8%;

}
.trio-item-one{
    width: 30%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5%;
    text-align: center;
    background-color: skyblue;
    border-radius: 15px;
    text-align: left;
}
.trio-item-one img{
    width: 40%;
}
.trio-item-two{
    width: 30%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    background-color: salmon;
    border-radius: 15px;
    text-align: left;
}
.trio-item-two img{
    width: 40%;
}
.trio-item-three{
    width: 30%;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 5%;
    text-align: center;
    background-color: palegoldenrod;
    border-radius: 15px;
    text-align: left;
}
.trio-item-three img{
    width: 40%;
}    
.year{
    color: rgb(255, 187, 0);
}
.us{
    color: rgb(14, 105, 180);
}
.lim{
    color: black;
}
.twen{
    color: blue;
}
.gbl{
    color: black;
}
.sup{
    color: rgb(255, 217, 0);
}
.to{
    color: rgb(71, 3, 3);
}
.trio-head{
    font-size: 40px;
    font-family: 'Righteous', cursive;

}
.gray{
    color: rgb(55, 58, 63);
}
#vn{
    color: rgb(9, 47, 83);
}
#mn{
    color: rgb(71, 3, 3);
}
#gl{
    color: rgb(233, 172, 7);
}

